<document>
    <oneupTemplate mode="caption oneup" handlesOverflow="true">
        <section>
            <lockup>
                <img src="{{ url }}" />
                <title>{{ title }}</title>
            </lockup>
        </section>
    </oneupTemplate>
</document>